@page "/"

    <div class="card bg-light mb-3 text-center">
        <h1 class="card-header">Welcome to LyteChat</h1>
        <div class="card-body">

            <p class="card-text">Anonymous users can only engage with the all chat.</p>

            <p class="card-text">Authenticated users can join chat groups and create their own.</p>

            <p class="card-text">Please login/register to experience the full application.</p>
        </div>
    </div>