@page "/"
@using System.Threading
@using System.Collections.Generic
@using Microsoft.AspNetCore.SignalR.Client
@using LearnBlazor.Shared.DataTransferObject
@using LearnBlazor.Shared.Communication
@using LearnBlazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IAsyncDisposable



<hr>

<ul id="chatGroupsList">
    @foreach (var chatGroup in _chatGroups)
    {
    <li>
        <h1>@chatGroup.ChatGroupName</h1>

        <div class="form-group">
            <label>
                User:
                <input @bind="userInput" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Message:
                <input @bind="messageInput" size="50" />
            </label>
        </div>
        <button @onclick="(() => Send(chatGroup.Uuid))" disabled="@(!IsConnected)">Send</button>

        <ul class="messagesList">
            @foreach (var message in _messages)
            {
                @if (message.ChatGroupUuid.Equals(chatGroup.Uuid))
                {
                    <li>@message.UserName: @message.Message</li>
                }
            }
        </ul>
    </li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<ChatMessageDTO> _messages = new List<ChatMessageDTO>();
    private List<ChatGroupDTO> _chatGroups = new List<ChatGroupDTO>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        _chatGroups = await Http.GetFromJsonAsync<List<ChatGroupDTO>>("/api/ChatGroup");
        foreach (ChatGroupDTO chatGroup in _chatGroups)
        {
            IEnumerable<ChatMessageDTO> messages = await Http.GetFromJsonAsync<ChatMessageDTO[]>($"/api/ChatMessage/{chatGroup.Uuid}");
            _messages.AddRange(messages);
        }

        hubConnection.On<ChatMessageResponse>("ReceiveMessage", (ChatMessageResponse chatMessageRes) =>
        {
            if (!chatMessageRes.Success)
            {
                //TODO
                Console.WriteLine(chatMessageRes.Message);
            }
            else
            {
                ChatMessageDTO chatMessage = chatMessageRes.ChatMessageDTO;
                if (chatMessage != null)
                {
                    _messages.Add(chatMessage);
                    StateHasChanged();
                }
            }
        });

        //hubConnection.On<string>("WelcomeMessage", (string welcomeChat) =>
        //{
        //    messages.Add(welcomeChat);
        //    StateHasChanged();
        //});

        await hubConnection.StartAsync();
    }

    public async Task Send(Guid chatGroupUuid)
    {
        ChatMessageDTO chatMessage = new ChatMessageDTO
        {
            UserUuid = Guid.Parse("08336bfa-9c3c-4f2e-a3e4-81073eed83d5"),
            ChatGroupUuid = chatGroupUuid,
            Message = messageInput
        };
        await hubConnection.SendAsync("CreateMessage", chatMessage);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}