@page "/"
@using LyteChat.Shared.DataTransferObject
@using Microsoft.AspNetCore.Authorization
@inject StateContainer StateContainer
@implements IDisposable
@attribute [Authorize(Roles = "AuthenticatedUser")]

<h1>Chat Groups</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Uuid</th>
            <th>Membership status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ChatGroupDTO chatGroup in StateContainer.AllChatGroups)
        {
            <tr>
                <td>@chatGroup.ChatGroupName</td>
                <td>@chatGroup.Uuid</td>
                @if (StateContainer.ChatGroupsForUser.ContainsKey(chatGroup.Uuid))
                {
                    <td><button @onclick="(() => ModifyGroupMembership(false, chatGroup.Uuid))">Leave Group</button></td>
                }
                else
                {
                    <td><button @onclick="(() => ModifyGroupMembership(true, chatGroup.Uuid))">Join Group</button></td>
                }

            </tr>
        }
    </tbody>
</table>


@code {

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    private async Task ModifyGroupMembership(bool joinGroup, Guid groupUuid)
    {
        await StateContainer.ModifyGroupMembership(joinGroup, groupUuid);
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

}
