@inherits LayoutComponentBase
@using System.Threading
@using System.Collections.Generic
@using LyteChat.Shared.DataTransferObject
@inject StateContainer StateContainer
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject JWTAuthenticationStateProvider TokenProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="top-row px-4">
            <div class="content px-4">
                <AuthorizeView>
                    <Authorized>
                        Hello, @context.User.Identity.Name
                        <button class="btn btn-sm btn-outline-dark" @onclick="@(() => Logout())">Logout</button>
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="content px-4">
                <label>@StateContainer.ConnectionState()</label>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    public async Task Logout()
    {
        await TokenProvider.SetTokenAsync(null);
        await StateContainer.RemoveStateOnLogout();
    }
}