@inherits LayoutComponentBase
@using System.Threading
@using System.Collections.Generic
@using LyteChat.Shared.DataTransferObject
@inject StateContainer StateContainer
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="form-group">
                <select @onchange="(eventArgs => SelectUser(eventArgs))">
                    @foreach (KeyValuePair<Guid, UserDTO> kv in StateContainer.AllUsers)
                    {
                        <option value=@kv.Value.Uuid>@kv.Value.Name; @kv.Value.Uuid</option>
                    }
                </select>
            </div>
            <div class="content px-4">
                @if (StateContainer.IsConnected)
                {
                    <label>Connected</label>
                }
                else
                {
                    <label>Not Connected</label>
                }
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    public async Task SelectUser(ChangeEventArgs eventArgs)
    {
        bool parseSuccess = Guid.TryParse(eventArgs.Value.ToString(), out Guid guid);
        if (parseSuccess)
        {
            UserDTO currentUser = StateContainer.AllUsers[guid];
            await StateContainer.SetUser(currentUser);
        }
        else
        {
            //TODO
        }
    }
}